body{
	font-family: 'Comic Neue', cursive;
	background-image: url('bgi.png');
	background-repeat: no-repeat;
	background-size: all;
}
.upt{
	clear: both;
	margin-left: 136px; 
}
.sc{
	clear: both;
	margin-left: 560px;
	position: relative;
	bottom: 392px;
}
.att{
	clear: both;
	position: relative;
	bottom: 196px;
	left: 314px;
}
.c{
	width: 128px;
	height: 128px;
	background-image: url('coin.png');
	background-repeat: no-repeat;
	background-size: all;
	user-select: none;
	float: left;
}
.up{
	width: 128px;
	height: 128px;
	background-image: url('upgr.png');
	background-repeat: no-repeat;
	background-size: all;
	user-select: none;
	float: left;
}
.star{
	width: 128px;
	height: 128px;
	background-image: url('star.png');
	background-repeat: no-repeat;
	background-size: all;
	user-select: none;
	position: relative;
	bottom: 178px;
	left: 550px;
}
.fin{
	width: 128px;
	height: 128px;
	background-image: url('Fin.png');
	background-repeat: no-repeat;
	background-size: all;
	user-select: none;
	position: relative;
	bottom: 378px;
	left: 138px;
}
.at{
	width: 128px;
	height: 128px;
	background-image: url('at.png');
	background-repeat: no-repeat;
	background-size: all;
	user-select: none;
	position: relative;
	bottom: 378px;
	left: 314px;
}